
@font-face {
    font-family: "public pixel";
    src: url("font/PublicPixel-eZPz6.ttf") format("truetype");
}


body{
    background-image: url("cat.jpg");
    background-position: center center; /*viewport selalu di center*/
    background-attachment: fixed; /*agar background tetep ada meskipun discroll kebawah*/
    background-repeat: no-repeat;
    background-size: cover;
    
}


h2{
    font-size: medium;
}

label{
    font-size: small;
}

.main-page {
    
    min-height: 80vh;
    
    display: flex;
    
    flex-direction: column;
    
    
    justify-content: center;
    align-items:center;
    
    text-align: center;
    font-family: "public pixel", "Press Start 2P", sans-serif;
    h1{
        color: #f2e311;
        
    }
    
    #signupForm{
        background-color: skyblue;
        border-style:solid;
        border-radius: 10px;
        padding: 10px;
        padding-bottom: 20px;

    } 

    
    
    #sign-in-direct-p{
        
        font-size: 10px;
    }
  }

.second-page{

    min-height: 80vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align:center;
    font-family: "public pixel", "Press Start 2P", sans-serif;
    p{
        font-family: "public pixel", "Press Start 2P", sans-serif;
        
    }

    #signinForm {
        border: solid;
        background-color: skyblue;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        padding: 20px;
        
        text-align: center;
    
    
    
    }
    
    
    
}

.lab-page{
    min-height: 80vh;
    display: flex;
    
    justify-content: center;
    align-items: center;
    text-align:center;
    flex-direction: column;

    font-family: "public pixel", "Press Start 2P", sans-serif;
    #sentence-box{
        font-family: sans-serif, "public pixel", "Press Start 2P";
        width: auto;
        padding: 20px;
        border: 2px solid #007BFF;
        background-color: #f0f8ff;
        color: #333;
        
        border-radius: 10px;
        
        text-align: center;
        
    }
    
    #button-submit {
        
        margin: 20px auto;
    }
    
    .word {
        display: inline-block;
        
        
        padding: 5px;
        margin: 3px;
        cursor: grab;
        border: 1px dashed transparent;
    }
    

    
}

.rules-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid;
    border-radius: 10px;
    
    background-color: skyblue;
    padding: 20px;
    font-family: "Press Start 2P", "public pixel", sans-serif;

    
}

#player-container {
    
    position: absolute;    
    
    
    top: 20px;            
    right: 20px;             
    background-color: rgba(0, 0, 0, 0.7);  
    color: white;            
    padding: 10px;           
    border-radius: 5px;      
    font-family: "public pixel", "Press Start 2P", sans-serif;
    font-size: 18px;         
    z-index: 1000;           
}


#button-rules-container{

    
    #create-player{
        position: absolute; 
        bottom:80px;
        left:20px;
        
        font-family: "public pixel", "Press Start 2P", sans-serif;
        font-size: 18px;
         
    }
    
    #rules-button{
        position: absolute; 
        bottom:40px;
        left:20px;
        
        font-family: "public pixel", "Press Start 2P", sans-serif;
        font-size: 18px;
        
    }
}   



.register-player-container{

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "public pixel", "Press Start 2P", sans-serif;
}


