
@font-face {
    font-family: "public pixel";
    src: url("font/PublicPixel-eZPz6.ttf") format("truetype");
}


body{
    background-image: url("cat.jpg");
    background-position: center center; /*viewport selalu di center*/
    background-attachment: fixed; /*agar background tetep ada meskipun discroll kebawah*/
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #464646; 
}


.signin-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
}

.main-page {
    
    height: 70vh;

    display: flex;
    
    flex-direction: column;
    
    
    justify-content: center;
    align-items: center;
    
    text-align: center;
    font-family: "public pixel", sans-serif;
    h1{
        color: #f2e311;
        
    }
    
      
    #player-name{
        margin-top: 70px;
        label{
            margin-bottom: 10px;
            font-size: smaller;
        }
        input{
            margin-top: 20px;
        }
        #pname-button{
            margin-top: 10px;
            
        }
        
    }
    
    
  }

.second-page{

    height: 70vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
    p{
        font-family: "public pixel", sans-serif;
        
    }
    
    
    
}

#sentence-box{
    
    width: 500px;
    padding: 20px;
    border: 2px solid #007BFF;
    background-color: #f0f8ff;
    color: #333;
    
    border-radius: 10px;
    
    text-align: center;
    
}

#button-submit {
    width: 250px;
    margin: 20px auto;
}



.word {
    display: inline-block;
    
    
    padding: 5px;
    margin: 3px;
    cursor: grab;
    border: 1px dashed transparent;
}


#score-container {
    position: absolute;      
    top: 20px;            
    right: 20px;             
    background-color: rgba(0, 0, 0, 0.7);  
    color: white;            
    padding: 10px;           
    border-radius: 5px;      
    font-family: "public pixel", sans-serif;
    font-size: 18px;         
    z-index: 1000;           
}